h1 {
  text-align: center;
  font-size: 100px;
  
}

[data-row] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  margin: 25px;
  border: 1px solid lightgray;
}



.row {
  z-index: -10;
}

[data-row].red {
  background-color: #f6c5c5;
}

[data-row].yellow {
  background-color: #ffffa9;
}

[data-row].green {
  background-color: #baf6ba;
}

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  z-index: 10;
}

[data-color] {
  width: 25px;
  float: left;
}

[data-color="blue"] {
  height: 33px;
  background-color: blue;
}

[data-color="green"] {
  height: 33px;
  background-color: green;
}

[data-color="red"] {
  height: 33px;
  background-color: red;
}

[data-color="yellow"] {
  height: 33px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}

body {
  margin-top: 250px;
  background-image: url("forest.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: stretch;
}

div {
  color: black;
  font-weight: 800;
}

button {
  border: none;
  background-color: white;
  height: 30px;
  width: auto;
  font-size: larger;
  font-weight: bold;
} 
